<?xml version="1.0" encoding="utf-8"?>
<Content Key="12981cc9-34bc-4f7b-aab0-e75d8a9ff777" Alias="Contact" Level="2">
  <Info>
    <Parent Key="5a5ced3f-96b1-4a02-bfc0-b1fcbf4f7edf">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-10-03T11:39:09</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff5e96a6-a0b9-460f-a8ee-e28ffd6ed4ac">contact</Template>
  </Info>
  <Properties>
    <contactInformationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInformationAddress>
    <contactInformationEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInformationEmail>
    <contactInformationEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInformationEmailAddress>
    <contactInformationLocation>
      <Value><![CDATA[Office location]]></Value>
    </contactInformationLocation>
    <contactInformationPhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactInformationPhone>
    <contactInformationPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInformationPhoneNumber>
    <contactText>
      <Value><![CDATA[Home>Contact]]></Value>
    </contactText>
    <contactTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </contactTitle>
    <contactUsPicture>
      <Value><![CDATA[[
  {
    "key": "8452a743-59f3-47c9-88c7-bbd7073dcd57",
    "mediaKey": "c0d9400f-086a-4e3e-8b11-4f721f19678a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactUsPicture>
    <contactUsTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELet us know about\u003C/div\u003E\n\u003Cdiv\u003Eyour next project\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactUsTitle>
    <footerPicture>
      <Value><![CDATA[[
  {
    "key": "acdae2aa-1427-4a01-bd3c-a8ee904f4b26",
    "mediaKey": "4ba7b45f-ef98-4596-bc70-bff18ce14c8b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerPicture>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "0e4aaf17-ff0b-4c8c-bd21-c0f42432d105",
    "mediaKey": "18b2ced1-0e0a-403a-ac9e-a5435986a93b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
  </Properties>
</Content>