<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a5ced3f-96b1-4a02-bfc0-b1fcbf4f7edf" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-27T17:22:41</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35db8dae-6caa-4393-9a63-5f92f12248d3">homePage</Template>
  </Info>
  <Properties>
    <aboutUsDescription>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe have 40 years experience\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsDescription>
    <aboutUsFormText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu\u003C/div\u003E\n\u003Cdiv\u003Efugiat nulla pariatur excepteur sint occaecat\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsFormText>
    <aboutUsFormTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ERequest a call back\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsFormTitle>
    <aboutUsPicture>
      <Value><![CDATA[[
  {
    "key": "893ffa6e-7419-4c84-9556-87addf7eb525",
    "mediaKey": "5ba6f137-b087-4372-9a7b-98df7047eff5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsPicture>
    <aboutUsRole>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ETina Fox - CEO \u0026amp; Founder\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsRole>
    <aboutUsText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\u201CWe have over 25 years of experience providing expert financial\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eadvice to both businesses and individuals.\u201D\u003Cbr\u003E\u003Cbr\u003E\u003C/div\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint\u003C/div\u003E\n\u003Cdiv\u003Eoccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsText>
    <aboutUsTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAbout Us\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsTitle>
    <footerImage>
      <Value><![CDATA[[
  {
    "key": "e0348952-aefb-4819-ace3-bb46a3db2b2e",
    "mediaKey": "4ba7b45f-ef98-4596-bc70-bff18ce14c8b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerImage>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "a00a0393-1470-498d-b118-569c45241cb7",
    "mediaKey": "18b2ced1-0e0a-403a-ac9e-a5435986a93b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <heroPicture>
      <Value><![CDATA[[
  {
    "key": "aa7b27e7-ec4a-4002-8a5c-ae5ce424ca15",
    "mediaKey": "f31372cf-9a04-4859-b34e-6b6c5fb28bc4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroPicture>
    <heroText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do\u003C/div\u003E\n\u003Cdiv\u003Eeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim\u003C/div\u003E\n\u003Cdiv\u003Ead minim\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe bring\u003C/div\u003E\n\u003Cdiv\u003Esuccess to you\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </heroTitle>
    <ourProjectBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "dac86d86-4fbd-41f6-b8b2-777a2b231109",
    "mediaKey": "269a2a5e-44df-4895-b17f-f47e3e8797f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxFourPicture>
    <ourProjectBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxFourText>
    <ourProjectBoxFourTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisors to Irra Corp Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxFourTitle>
    <ourProjectBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "f5f1a16c-b358-4f01-a2b3-0a2ae9f8edaa",
    "mediaKey": "c1b8a2c6-c6d8-46a9-901b-0e26e2f41d1b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxOnePicture>
    <ourProjectBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxOneText>
    <ourProjectBoxOneTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAnnual Report for Juva Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxOneTitle>
    <ourProjectBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "9e4f84bc-ccaa-40a7-b357-015dfad165ba",
    "mediaKey": "bc7fb6b7-843b-4929-acf8-88b3ae375e0e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxThreePicture>
    <ourProjectBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxThreeText>
    <ourProjectBoxThreeTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisors to Irra Corp Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxThreeTitle>
    <ourProjectBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "ff358fa2-3fab-4396-be51-5f03493734d9",
    "mediaKey": "7a24685c-fe8c-4e53-acd0-42acb032b61e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxTwoPicture>
    <ourProjectBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxTwoText>
    <ourProjectBoxTwoTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBusiness Insights for SP Group Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxTwoTitle>
    <ourProjectText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ERecent Projects\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectText>
    <ourProjectTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EOur Projects\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectTitle>
    <ourServicesBoxFivePicture>
      <Value><![CDATA[[
  {
    "key": "6371aed0-9528-4557-b545-83009faa3090",
    "mediaKey": "e93e47bd-3968-49ba-85fc-f9535e375f82",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxFivePicture>
    <ourServicesBoxFiveText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFiveText>
    <ourServicesBoxFiveTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisor\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFiveTitle>
    <ourServicesBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "41ec3a44-1989-4755-8275-35574a711001",
    "mediaKey": "93ac02f8-7cad-4d15-9a47-b1ade1780244",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxFourPicture>
    <ourServicesBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFourText>
    <ourServicesBoxFourTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ETax and Trusts\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFourTitle>
    <ourServicesBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "c1a9fd6d-5484-4a37-94b0-daee3243f4f2",
    "mediaKey": "8673c01b-ba3d-494a-8f82-d32d2691c7c0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxOnePicture>
    <ourServicesBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxOneText>
    <ourServicesBoxOneTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ERisk Management\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxOneTitle>
    <ourServicesBoxSixPicture>
      <Value><![CDATA[[
  {
    "key": "9241b1f2-9dd0-43fa-a680-120da6c8e00e",
    "mediaKey": "e5a4cca3-fa78-4eb1-94f1-795a0a20ff6d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxSixPicture>
    <ourServicesBoxSixText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxSixText>
    <ourServicesBoxSixTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EStatistic Advisors\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxSixTitle>
    <ourServicesBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "05794e52-a54c-4d78-99f0-e70668be92fc",
    "mediaKey": "fbf83b16-027e-4c46-8fea-179ec7efe366",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxThreePicture>
    <ourServicesBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxThreeText>
    <ourServicesBoxThreeTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAssurance \u0026amp; Audits\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxThreeTitle>
    <ourServicesBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "f636f143-eef3-48ba-92b0-9a0983fd548a",
    "mediaKey": "9900ff09-7e6e-408c-9623-862d389a7129",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxTwoPicture>
    <ourServicesBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxTwoText>
    <ourServicesBoxTwoTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBonds \u0026amp; Commodities\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxTwoTitle>
    <ourServicesDescription>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe Provide The Solutions\u003C/div\u003E\n\u003Cdiv\u003ETo Grow Your Business Faster\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesDescription>
    <ourServicesTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EOur Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesTitle>
    <ourStoryPicture>
      <Value><![CDATA[[
  {
    "key": "a9549ced-9cd9-4b8b-9d2c-e8ee4bcc3842",
    "mediaKey": "8763310a-50d3-45ee-a018-a694394ae2a5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryPicture>
    <ourStoryText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam\u003C/div\u003E\n\u003Cdiv\u003Eaccumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourStoryText>
    <ourStoryTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003EWe are trusted by more than\u003C/div\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003E\u0026nbsp; \u0026nbsp; \u0026nbsp; \u0026nbsp;4.000\u002B clients\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourStoryTitle>
    <successStoryBoxOneNumber>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E689\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxOneNumber>
    <successStoryBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EMore than 100 customers has been\u003C/div\u003E\n\u003Cdiv\u003Eserved\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxOneText>
    <successStoryBoxThreeNumber>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E125\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxThreeNumber>
    <successStoryBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EMore than 125 branches has been\u003C/div\u003E\n\u003Cdiv\u003Eestablished in Europe and America\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxThreeText>
    <successStoryBoxTwoNumber>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E370\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxTwoNumber>
    <successStoryBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EMore than 370 projects has been\u003C/div\u003E\n\u003Cdiv\u003Ecompleted\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxTwoText>
    <successStoryPicture>
      <Value><![CDATA[[
  {
    "key": "e87c0943-8fb3-4e4b-b8e7-1d711bf28a34",
    "mediaKey": "5fd75fc5-3e71-4747-b887-12e49332e9a3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryPicture>
    <successStoryText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESuccess Story\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryText>
    <successStoryTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESuccess Stories\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryTitle>
  </Properties>
</Content>