<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e8e693e-bd6b-4186-9e73-164e7f8aa855" Alias="Projects" Level="2">
  <Info>
    <Parent Key="5a5ced3f-96b1-4a02-bfc0-b1fcbf4f7edf">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-10-03T10:10:00</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37087885-cfc4-445b-b03f-02a230d38212">projects</Template>
  </Info>
  <Properties>
    <aboutUsCornerText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EOnline support 24/7, we are here to\u003C/div\u003E\n\u003Cdiv\u003Ehelp you\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsCornerText>
    <aboutUsCornerTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </aboutUsCornerTitle>
    <contactInformationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInformationAddress>
    <contactInformationEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInformationEmail>
    <contactInformationEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInformationEmailAddress>
    <contactInformationLocation>
      <Value><![CDATA[Office location]]></Value>
    </contactInformationLocation>
    <contactInformationPhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactInformationPhone>
    <contactInformationPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInformationPhoneNumber>
    <contactInformationPicture>
      <Value><![CDATA[[
  {
    "key": "b0ab59d2-3656-4a7f-853f-9c4684dcafa3",
    "mediaKey": "c0d9400f-086a-4e3e-8b11-4f721f19678a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInformationPicture>
    <contactInformationTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELet us know about\u003C/div\u003E\n\u003Cdiv\u003Eyour next project\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactInformationTitle>
    <footerPicture>
      <Value><![CDATA[[
  {
    "key": "d256d432-5e82-4d47-b44c-93267eedb27d",
    "mediaKey": "4ba7b45f-ef98-4596-bc70-bff18ce14c8b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerPicture>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "5d1e05d5-57d2-4438-84b9-509892006b69",
    "mediaKey": "18b2ced1-0e0a-403a-ac9e-a5435986a93b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <ourProjectText>
      <Value><![CDATA[Home>Projects]]></Value>
    </ourProjectText>
    <ourProjectTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </ourProjectTitle>
    <ourSupportBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "aaee627a-5ff9-479c-98dc-99867615043b",
    "mediaKey": "11cf16db-653a-4299-a3a4-fba9434eab22",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxFourPicture>
    <ourSupportBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxFourText>
    <ourSupportBoxFourTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </ourSupportBoxFourTitle>
    <ourSupportBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "8e7c38f1-b3b7-49fc-b07e-d9c942975274",
    "mediaKey": "2ce77519-cedf-437e-b3d6-254a6d18aaed",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxOnePicture>
    <ourSupportBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxOneText>
    <ourSupportBoxOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourSupportBoxOneTitle>
    <ourSupportBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "af7cd65b-79bf-49b9-bff4-aebeb2e3f11a",
    "mediaKey": "c905142a-cbcf-494f-a5c2-0cb5ff00a456",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxThreePicture>
    <ourSupportBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxThreeText>
    <ourSupportBoxThreeTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </ourSupportBoxThreeTitle>
    <ourSupportBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "229c7075-fe41-4c3c-9274-f53645736070",
    "mediaKey": "95316813-1044-4f64-bed0-8517c5d9794f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxTwoPicture>
    <ourSupportBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxTwoText>
    <ourSupportBoxTwoTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </ourSupportBoxTwoTitle>
    <recentBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "f2c94b46-e947-469d-893c-881acdea47a5",
    "mediaKey": "1df551d6-f7f9-4ec2-bb15-8531251f4d65",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxFourPicture>
    <recentBoxFourTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBudget Planning for\u003C/div\u003E\n\u003Cdiv\u003EBuccura Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxFourTitle>
    <recentBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "bd7ce904-88f0-4b2b-8710-a6f658d49378",
    "mediaKey": "1df551d6-f7f9-4ec2-bb15-8531251f4d65",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxOnePicture>
    <recentBoxOneTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAnnual Report for\u003C/div\u003E\n\u003Cdiv\u003EJuva Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxOneTitle>
    <recentBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "3fda889d-e6cc-4529-a29e-bcfb585f4222",
    "mediaKey": "1df551d6-f7f9-4ec2-bb15-8531251f4d65",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxThreePicture>
    <recentBoxThreeTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisors to\u003C/div\u003E\n\u003Cdiv\u003EIrra Group Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxThreeTitle>
    <recentBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "191b6b68-6a0f-433c-8044-3ecb97aae0e0",
    "mediaKey": "1df551d6-f7f9-4ec2-bb15-8531251f4d65",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxTwoPicture>
    <recentBoxTwoTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBusiness Insights for\u003C/div\u003E\n\u003Cdiv\u003ESP Group Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxTwoTitle>
    <recentProjectsTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </recentProjectsTitle>
  </Properties>
</Content>