<?xml version="1.0" encoding="utf-8"?>
<Content Key="03870816-18a1-4bb8-83c7-34c23e91242f" Alias="Services" Level="2">
  <Info>
    <Parent Key="5a5ced3f-96b1-4a02-bfc0-b1fcbf4f7edf">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-10-02T11:40:44</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfe9d1fa-6fc8-4c65-8c1c-5077c511c3e9">services</Template>
  </Info>
  <Properties>
    <contactInformationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInformationAddress>
    <contactInformationEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInformationEmail>
    <contactInformationEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInformationEmailAddress>
    <contactInformationLocation>
      <Value><![CDATA[Office location]]></Value>
    </contactInformationLocation>
    <contactInformationPhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactInformationPhone>
    <contactInformationPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInformationPhoneNumber>
    <contactInformationPicture>
      <Value><![CDATA[[
  {
    "key": "f1a9ac48-4dfb-4442-b1de-27040d299b35",
    "mediaKey": "c0d9400f-086a-4e3e-8b11-4f721f19678a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInformationPicture>
    <contactInformationTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELet us know about\u003C/div\u003E\n\u003Cdiv\u003Eyour next project\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactInformationTitle>
    <footerPicture>
      <Value><![CDATA[[
  {
    "key": "d5889a5f-a461-414e-87d6-318ad71a979e",
    "mediaKey": "4ba7b45f-ef98-4596-bc70-bff18ce14c8b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerPicture>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "405f78da-436d-40f5-83b2-dbfe4272f724",
    "mediaKey": "18b2ced1-0e0a-403a-ac9e-a5435986a93b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <ourServicesText>
      <Value><![CDATA[Home>Services]]></Value>
    </ourServicesText>
    <ourServicesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </ourServicesTitle>
    <yourBusinessBoxFivePicture>
      <Value><![CDATA[[
  {
    "key": "d323a0ea-6625-482e-9d15-71f8c05948c2",
    "mediaKey": "e93e47bd-3968-49ba-85fc-f9535e375f82",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxFivePicture>
    <yourBusinessBoxFiveText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxFiveText>
    <yourBusinessBoxFiveTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </yourBusinessBoxFiveTitle>
    <yourBusinessBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "f0e21a67-9e36-47ab-9ff2-12f4a7e08ea6",
    "mediaKey": "93ac02f8-7cad-4d15-9a47-b1ade1780244",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxFourPicture>
    <yourBusinessBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxFourText>
    <yourBusinessBoxFourTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </yourBusinessBoxFourTitle>
    <yourBusinessBoxOnepicture>
      <Value><![CDATA[[
  {
    "key": "17ebcc56-7288-48f9-9c03-300d43e24e12",
    "mediaKey": "8673c01b-ba3d-494a-8f82-d32d2691c7c0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxOnepicture>
    <yourBusinessBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxOneText>
    <yourBusinessBoxOneTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </yourBusinessBoxOneTitle>
    <yourBusinessBoxSixPicture>
      <Value><![CDATA[[
  {
    "key": "556eb3e1-4a83-4cb2-903a-426c5c631a0a",
    "mediaKey": "e5a4cca3-fa78-4eb1-94f1-795a0a20ff6d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxSixPicture>
    <yourBusinessBoxSixText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxSixText>
    <yourBusinessBoxSixTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </yourBusinessBoxSixTitle>
    <yourBusinessBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "87a79572-3e14-4756-b707-2053de34179d",
    "mediaKey": "fbf83b16-027e-4c46-8fea-179ec7efe366",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxThreePicture>
    <yourBusinessBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxThreeText>
    <yourBusinessBoxThreeTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </yourBusinessBoxThreeTitle>
    <yourBusinessBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "486ecb77-8ba1-4166-b605-4dff8f7b4459",
    "mediaKey": "9900ff09-7e6e-408c-9623-862d389a7129",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxTwoPicture>
    <yourBusinessBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxTwoText>
    <yourBusinessBoxTwoTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </yourBusinessBoxTwoTitle>
    <yourBusinessTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe Provide The Solutions\u003C/div\u003E\n\u003Cdiv\u003ETo Grow Your Business Faster\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessTitle>
  </Properties>
</Content>