<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f68faab-097e-4093-9db2-e64924499e7d" Alias="Aaron-Lambert.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AaronLambertpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:29:02</CreateDate>
    <NodeName Default="Aaron-Lambert.png" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eqyc3six/aaron-lambert.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>