<?xml version="1.0" encoding="utf-8"?>
<Media Key="111c3386-32cc-4551-8a13-f83d09d5f3af" Alias="AboutUsCorner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsCornerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T13:09:34</CreateDate>
    <NodeName Default="AboutUsCorner.png" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bh2fvj3f/aboutuscorner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>