<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f503f62-60e8-40ad-ab59-54bb4c5ec3c9" Alias="AJ-Carter.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AJCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:27:47</CreateDate>
    <NodeName Default="AJ-Carter.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3x0bnomb/aj-carter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>