<?xml version="1.0" encoding="utf-8"?>
<Media Key="9900ff09-7e6e-408c-9623-862d389a7129" Alias="BondsCommodities.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BondsCommoditiespng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:25:01</CreateDate>
    <NodeName Default="BondsCommodities.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qy0fmlyh/bondscommodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>