<?xml version="1.0" encoding="utf-8"?>
<Media Key="18b2ced1-0e0a-403a-ac9e-a5435986a93b" Alias="BrandLogo.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T17:57:12</CreateDate>
    <NodeName Default="BrandLogo.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lycpjltd/brandlogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>