<?xml version="1.0" encoding="utf-8"?>
<Media Key="27f5feab-5780-47f7-929e-51f66b2e0c89" Alias="DetailsWomanMan.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DetailsWomanManpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T10:55:33</CreateDate>
    <NodeName Default="DetailsWomanMan.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eq0lhepj/detailswomanman.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>