<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa9566ac-4a85-49a9-909e-1b1bf91777dc" Alias="DetailsWoman.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DetailsWomanpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T10:52:34</CreateDate>
    <NodeName Default="DetailsWoman.png" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eowngthm/detailswoman.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>