<?xml version="1.0" encoding="utf-8"?>
<Media Key="c905142a-cbcf-494f-a5c2-0cb5ff00a456" Alias="FinancialAdvisors.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T10:03:35</CreateDate>
    <NodeName Default="FinancialAdvisors.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uxpeg53g/financialadvisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>