<?xml version="1.0" encoding="utf-8"?>
<Media Key="1df551d6-f7f9-4ec2-bb15-8531251f4d65" Alias="GreyImage.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GreyImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-03T10:05:40</CreateDate>
    <NodeName Default="GreyImage.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lgnlhk2q/greyimage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>