<?xml version="1.0" encoding="utf-8"?>
<Media Key="b316be50-dfec-4401-995c-a0d4638a6281" Alias="Miranda-Dayton.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MirandaDaytonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:31:42</CreateDate>
    <NodeName Default="Miranda-Dayton.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/130fabmf/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>