<?xml version="1.0" encoding="utf-8"?>
<Media Key="8763310a-50d3-45ee-a018-a694394ae2a5" Alias="OurStoryGroupPicture.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurStoryGroupPicturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T11:31:14</CreateDate>
    <NodeName Default="OurStoryGroupPicture.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qx3dkmn0/ourstorygrouppicture.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>