<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc7fb6b7-843b-4929-acf8-88b3ae375e0e" Alias="pj3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T12:00:09</CreateDate>
    <NodeName Default="pj3.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hb4dscss/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>