<?xml version="1.0" encoding="utf-8"?>
<Media Key="269a2a5e-44df-4895-b17f-f47e3e8797f9" Alias="pj4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T12:01:19</CreateDate>
    <NodeName Default="pj4.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0hqnzefw/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>