<?xml version="1.0" encoding="utf-8"?>
<Media Key="03239fec-c9fa-4a19-bf15-5bd8fa1b019c" Alias="RiskManagementMain.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T13:10:47</CreateDate>
    <NodeName Default="RiskManagementMain.png" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mnkhlnmt/riskmanagementmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>