<?xml version="1.0" encoding="utf-8"?>
<Media Key="f91e6f46-0e72-4613-8cad-e089aed0beca" Alias="RiskmanagementGroup.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskmanagementGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T13:14:24</CreateDate>
    <NodeName Default="RiskmanagementGroup.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zgsfqty1/riskmanagementgroup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>