<?xml version="1.0" encoding="utf-8"?>
<Media Key="58041541-c960-4edf-acda-d90995843e7d" Alias="TinaFox.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T12:20:20</CreateDate>
    <NodeName Default="TinaFox.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/z1pff1qj/tinafox.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>